{% extends 'base.html' %}

{% block content %}

    <form action="/nutrition/label/" method="GET">
		  <input type="text" name="q">
      <input type="submit" value="Submit Url to Clarifai"/>
    </form>

    <form action="/nutrition/labelMetamind/" method="GET">
		  <input type="text" name="q">
      <input type="submit" value="Submit Url to Metamind"/>
    </form>

    <form action="/nutrition/image/" method="POST">
		  <!-- <input type="text" name="q"> -->
		  {% csrf_token %}
      <input type="submit" value="Submit Img to Clarifai"/>
    </form>
{% endblock %}
